:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --navcolor: black;
  --oceancolor: #404bbf;
  --whitecolor: white;
  --slate: #434455;
  --cloud: #f4f4fd;
  --green: #31d0aa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*checked*/
.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* checked */
.link {
  text-decoration: none;
  color: inherit;
}

/*checked*/
body {
  background-color: var(--whitecolor);
  color: var(--slate);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 16px;
}

/*HEADER CSS*/
/* checked */
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* checked */
.page-header {
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
}

/* checked */
.menu,
.navigation,
.nav-menu,
.contacts-menu {
  display: flex;
  align-items: center;
}

/* checked */
.nav-menu {
  margin-left: 93px;
}

/* checked */
.contacts-menu {
  margin-left: auto;
}

/* checked */
.nav-menu,
.contacts-menu {
  gap: 40px;
}

/* checked */
.logo .link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

/* checked */
.logo {
  color: var(--iris);
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.04em;
  line-height: 1.17;
}

/* checked */
.studio {
  color: var(--navyblue);
}

/* checked */
.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

/* checked */
.filters .space + .space {
  margin-left: 8px;
}

/*checked
.nav-menu .item {
  font-size: 16px;
}*/

/* checkedd */
.nav-menu .page,
.contacts-menu .contact {
  color: var(--navyblue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;
}

/* checked */
.nav-menu .item:not(:last-child),
.contacts-menu .item:not(:last-child) {
  margin-right: 50px;
}

/* checked */
.nav-menu .page:focus,
.nav-menu .page:hover,
.nav-menu .page.current,
.contacts-menu .contact:hover,
.contacts-menu .contact:focus {
  color: var(--iris);
}

/* checked */
.contacts-menu .contact {
  color: var(--slate);
  font-weight: 400;
}

/* checked */
.bg-hero {
  background: var(--navyblue);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

/* checked */
.hero-title {
  color: var(--whitecolor);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.04em;
  margin-bottom: 30px;
}

/* checked */
.button {
  cursor: pointer;
  border-color: transparent;
  font-family: inherit;
  font-size: 16px;
  border-radius: 4px;
  letter-spacing: 0.03em;
}

/* checked
.project {
  text-decoration: none;
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 72px;
  padding-top: 96px;
  gap: 24px;
} */

/* checked */
.button.filter {
  color: var(--iris);
  background-color: var(--cloud);
  font-weight: 500;
  line-height: 1.62;
  padding: 12px 24px;
}

/* checked */
.button.primary {
  background-color: var(--iris);
  color: var(--whitecolor);
  font-weight: 500;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 16px 32px;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* checked */
.button.primary:hover,
.button.primary:focus {
  background-color: var(--oceancolor);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* checked */
.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  background-color: var(--oceancolor);
  color: var(--cloud);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

----------------------------------------------- 

/* checked */
.benefits {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

/* checked */
.benefits .item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

/* checked */
.benefits .description {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
}

/* checked */
.benefits .title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--navyblue);
  margin-bottom: 10px;
}

/* benefits section */
.benefits-item-container {
  border-radius: 4px;
  background: var(--cloud);
  padding: 24px 100px;
  margin-bottom: 8px;
}

.benefits-icon {
  width: 64px;
  height: 64px;
}

.benefits-section {
  padding-bottom: 0;
}

--------------------------------- 

/* checked */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* checked */
.section.no-top-padding {
  padding top: 0;
}

/* checked */
.what-we-do {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

/* checked */
.what-we-do .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
-------------------------------------------
/* checked */
.section-title {
  text-align: center;
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 50px;
}

/* checked */
.bg-team {
  background-color: var(--cloud);
}

/* checked */
.team .item {
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  padding-bottom: 30px;
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
------------------------------
/* checked */
.team {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

/* checked */
.team .name,
.team .position {
  text-align: center;
  line-height: 1.19;
}

/* checked */
.team .name {
  color: var(--navyblue);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  padding-top: 30px;
  padding-bottom: 10px;
}

--------------------------------------

/* checked */
.team .position {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
}

/* checked */
.substrate {
  background-color: var(--whitecolor);
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

/* social links styling */
.team-list {
  display: flex;
  justify-content: space-between;
}

.team-icon {
  height: 16px;
  width: 16px;
  fill: var(--cloud);
}

.team-list-item a {
  background-color: var(--iris);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-list-item {
  margin-right: 12px;
}
--------------------------------
/*checked*/
/* .project .name {
  color: var(--navyblue);
  font-size: 20px;
  margin-bottom: 4px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.04em; */

/* checked */
.projects {
  flex-wrap: wrap;
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

/* checked */
.project-card {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 3opx;
}

/* checked */
.project .name {
  margin-bottom: 4px;
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.06em;
}
------------------------------

/* checked */
.project .type {
  color: var(--slate);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

/* checked */
.bg-footer {
  background: var(--navyblue);
}

/* checked */
.studio-footer {
  color: var(--cloud);
}

/* checked */
.page-footer {
  padding: 60px 0;
}

---------------------------------------

.footer-container {
  display: flex;
}

.footer-description-item {
  margin-right: 16px;
}

.footer-container-1 {
  margin-right: 120px;
}

/*checked*/
.footer-description-list {
  color: var(--cloud);
  font-size: 16px;
  font-weight: 400;
  margin-top: 17.5px;
  display: flex;
}

/* checked */
.footer-description {
  color: var(--cloud);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 17.5px;
}


.footer-container-1 .footer-description {
  color: var(--cloud, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-top: 18px;
}

.footer-container-2 .footer-description {
  color: var(--white, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.footer-description-list .footer-description-item {
  background-color: var(--iris);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon {
  fill: var(--cloud);
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-description-item:hover,
.footer-description-item:focus {
  background-color: var(--green);
}

